body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: #dddddd
}

p, span {
    color:#00000080
}

h1, h2, h4 {    
    color:#000000    ;
}

#page-title {
    text-align: center;
}

h2
{
    font-weight: lighter ;
}

h3 {
    vertical-align: bottom;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.container {
    display: flex;
}

.column {
    flex: 2;
    padding: 10px;
    margin: 1rem;
}

.column-inside {
    flex: 1;
    display: flex;
	justify-content: center;
	align-items: center;
}

.my-textboxes {
    padding: 2rem;
    font-size: medium;
    width: 70%;
    text-align: center;
}

div.page-container {
    padding:10rem 20rem;
}

.border-line{
    border-bottom:  1px solid #dddddd;
}