body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: #dddddd
}

p, span {
    color:#00000080;
}

h1, h2, h4 {    
    color:#000000;
}

#page-title {
    text-align: center;
}

h2
{
    font-weight: lighter ;
}

h3 {
    vertical-align: bottom;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.container {
    display: flex;
}

.column {
    flex: 2;
    padding: 10px;
    margin: 1rem;
}

.column-inside {
    flex: 1;
    display: flex;
	justify-content: center;
	align-items: center;
}

.my-textboxes {
    padding: 2rem;
    font-size: medium;
    width: 70%;
    text-align: center;
}

.border-line{
    border-bottom:  1px solid #dddddd;
}

.diagramContainer{
    padding: 2rem 0rem;
}

.small-print{
    font-size: xx-small;
    text-align: center;
    margin-top: 10px;
    opacity: 70%;
}

  /* Medium devices (desktops) */
  @media only screen and (min-width: 992px) {
    div.page-container {
        padding:0.5rem 20rem;
    }
  }